name: Build ESP8266 Firmware

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Arduino CLI
      uses: arduino/setup-arduino-cli@v1

    - name: Install ESP8266 Core
      run: |
        arduino-cli core update-index
        arduino-cli core install esp8266:esp8266

    - name: Compile Sketch
      run: |
        arduino-cli compile \
          --fqbn esp8266:esp8266:nodemcuv2 \
          testesp/testesp.ino \
          --output-dir build

    - name: Upload BIN to Release
      uses: softprops/action-gh-release@v1
      with:
        files: |
          build/*.bin
